<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="UI e2e test suite">
    <listeners>
        <listener class-name="common.Listeners" />
    </listeners>
    <test name="UI testing">
        <classes>
            <class name="ui.CustomerTest"/>
        </classes>
    </test>
</suite>